body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
*{
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-header{
  text-align: center;
  background-color: white;
}
.main-header h2{
  padding: 20px;
  position: relative;
  font-weight: normal;
}
.main-header h2::before{
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-bottom: 2px solid #333;
  width: 100px;
}
.main-header h2::after{
  position: absolute;
  content: '';
  left: 50%;
  transform: translate(-50%);
  bottom: -16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: white;
}
.main-header p{
  padding: 30px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto 100px;
  color: #a8a8a8;
  line-height: 1.8;
}


/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
header .container .logo{
  display: flex;
  align-items: center;
}
header .container nav{
  display: flex;
}
header .container ul{
  flex: 1;
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .logo img {
  height: 40px;
}
header .container ul li a{
  text-decoration: none;
  color : white;
  padding: 30px 10px;
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s;
}
header .container i{
  font-size: 22px;
  color: White;
}
@media (min-width:768px) {
  header .container .toggle-menu{
    display: none;
  }
}
@media (max-width:768px) {
  header .container  ul{
    display: none;
  }
  header .container .toggle-menu:hover + ul{
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    left: 0;
    top: 100%;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
  }
  header .container .toggle-menu:hover + ul  a{
    padding: 15px;
    display: inline-block;
    width: 100%
  }
  header .container .toggle-menu:hover + ul  li{
    width: 100%;
  }

}
header .container .form{
  width: 40px;
  height: 30px;
  border-left: 2px solid #eee;
  margin-left: 50px;
  position: relative;
}
header .container .form i{
  color: white;
  padding-left: 15px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .container::before{
  content: '';
  position: absolute;
  border-bottom: 2px solid #636364;
  width: calc(100% - 30px);
  bottom: 0;
  z-index: 1;
}
header .container ul .active ,
header .container ul a:hover{
  position: relative;
  color: #06a5d0;
  border-bottom: 2px solid #06a5d0;
  z-index: 2;
}
/* end header */
/* start landing */
.landing{
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.landing::before{
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50% );
}
.landing  .text{
  padding: 50px;
  color: white;
  width: 50%;
  max-height:  100%;
  background-color: rgb(15 116 143 / 70%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
@media (max-width:768px) {
  .landing  .text{
    max-height:  100%;
    width: 100%;
    padding: 15px;
  }
}
.landing  .text h2{
  max-width: 70%;
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: normal;
}
.landing  .text p{
  max-width: 70%;
  font-size: 13px;
  line-height: 1.8;
}
/* end landing */
/* start services */
section{

  padding-top: 50px;
  background-color: white;
}
@media (min-width:768px) {
  section .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    justify-content: center;
    padding-bottom: 100px;
  }
}
@media (max-width:768px) {
  section .container .part{
    flex-direction: column;
    text-align: center;
  }
}
section .container .part{
  display: flex;
  justify-content: center;
}
section .container .part .text{
  padding: 30px;
}
section .container .part .text h3{
  font-size: 20px;
  color: #00c7fc;
  padding-bottom: 20px;
  font-weight: normal;
}
section .container .part .text p{
  font-size: 13px;
  color: #a8a8a8;
  line-height: 1.8;
  max-width: 100%;
}
section .container .part .logo{
  padding: 30px;
}
section .container .part .logo i{
  font-size: 30px;
  background-color: white;
}
section .last{
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  height: 90vh;
}
section .last::before{
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50% );
}
section .last .image{
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
}
@media (max-width:768px) {
  section .last .image{
    position: absolute;
    left: 10%;
  }
}
section .last .image .img-1{
  position: relative;
  bottom: -4px;
}
section .last .image .img-2{
  position: absolute;
  right: -50%;
  bottom: 0;
  z-index: -1;
}
section .last .serv{
  color: white;
  padding: 20px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color:rgb(15 116 143 / 70%);
}
@media (max-width:768px) {
  section .last .serv{
    width: 100%
  }
  section .last .image{
    display: none;
  }
}
section .last .serv h3{
  padding: 30px 30px 40px 30px;
  font-weight: normal;
  font-size: 20px;
}
section .last .serv i{
  padding:  10px 10px 10px 30px;
}
section .last .serv li{
  padding-bottom: 10px;
  font-size: 16px;
}
/* end services */
/* start PORTFOLIO */
.protofolio{
  padding-top: 50px;
  background-color: white;
}
.protofolio .container .list ul{
  display: flex;
  justify-content: center;
  padding: 40px;
  overflow: hidden;
}

.protofolio .container .list ul li{
  display: block;
  padding: 5px 10px;
  transition: 0.3s;
}
@media (max-width:768px){
  .protofolio .container .list ul {
    flex-wrap: wrap;
  }
}
.protofolio .container .list ul .first,
.protofolio .container .list ul li:hover{
  background-color: #19c8fa;
  color: white;
}
.protofolio .mid .box{
  position: relative;
  overflow: hidden;
}
.protofolio .mid .box .caption{
  padding: 25px ;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: 0.5s;
}
.protofolio .mid .box .caption h4{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
}
.protofolio .mid .box .caption p{
  font-weight: normal;
  font-size: 13px;
  color: #00c7fc;
}
.protofolio .mid .box:hover .caption{
  bottom: 0;
}
.protofolio .mid .box:hover img{
  transform: rotate(3deg) scale(1.1);
}
.protofolio .mid .image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.protofolio .mid .image img{
  flex-basis: 25%;
  transition: 0.3s;
}

.protofolio .btn{
  text-align: center;
  padding: 40px;
}
.protofolio .btn a{
  padding: 10px 40px;
  background-color: #19c8fa;
  border: 0;
  color: white;
  text-decoration: none;
}
.protofolio .video{
  position: relative;
  margin-top:  50px;
  overflow: hidden;
}
.protofolio .video video{
  width: 100%;
}
.protofolio .video .text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(15 116 143 / 70%);
  width: 100%;
  text-align: center;
  color: white;
}
.protofolio .video .text h3{
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
}
.protofolio .video .text p{
  padding: 20px;
  font-size: 13px;
}
.protofolio .video .text .btn-1{
  padding: 20px;

}
.protofolio .video .text .btn-1 a{
  color: white;
  border: 0;
  padding: 10px 30px;
  background-color: #1f2021;
  font-size: 13px;
  text-decoration: none;
}
/* end protofolio */
/* start about */
.about{
  padding-top: 50px;
  overflow: hidden;
}
.about .image{
  text-align: center;
  position: relative;
  bottom: -4px;
}
.about .background{
  background-image: url(../img/slider-bg.jpg);

}
.about .background .container{
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .background .container .center {
  background-color: rgb(15 116 143 / 70%);
}
.about .background .container .center{
  display: flex;
  justify-content: space-around;
}
@media (max-width:768px) {
  .about .background .container .center{
    flex-direction: column;
  }
  .about .image img{
    width: 300px;
  }
}
.about .background .container .center .part{
  padding: 30px;
  text-align: center;
  color: white;
}
.about .background .container .center .part i{
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.about .background .container .center .part h3{
  font-size: 51px;
  font-weight: bold;
  padding: 20px;
}
.about .background .container .center .part p{
  font-size: 13px;
  font-weight: lighter;

}
.about .container .recomnd{
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-gap: 100px;
}
@media (min-width:768px) {
  .about .container .recomnd{
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
  }
}
.about .container .recomnd .head{
  text-align: center;
}
.about .container .recomnd .head h3{
  font-size: 20px;
  font-weight: normal;
  color: #1f2021;
  padding: 30px;
}
.about .container .recomnd .head p{
  font-size: 13px;
  font-weight: normal;
  color: #a8a8a8;
  line-height: 1.8;
  padding: 10px;
}
.about .container .recomnd .test .ceo{
  display: flex;
  padding: 10px;
}
.about .container .recomnd .test .ceo .image{
  display: flex;
  align-items: center;
}
.about .container .recomnd .test .ceo img{
  width: 100px;
  border-radius: 50%;
  border: 2px solid #777;
}
.about .container .recomnd .test .ceo p{
  margin: 40px 10px 30px 30px;
  padding-bottom: 30px;
  line-height: 1.8;
  position: relative;
  border-bottom:  2px solid #b1adaf;
}

.about .container .recomnd .test .ceo p::before{
  content: 'John Doe,CEO';
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: 13px;
  color: #a8a8a8;
  font-style: italic;
}
.about .container .recomnd .skills .myskills h4{
  margin-bottom: 10px;
  margin-top: 40px;
  position: relative;
  font-size: 13px;
  font-weight: 500;
}
.prog{
  background: #dedadc;
  height: 30px;
}
.prog span{
  display: block;
  background-color: #00c7fc;
  height: 100%;
  position: relative;
  font-size: 11px;
}
.prog span::before{
  content: attr(data-progress);
  position: absolute;
  right: -15px;
background: black;
color: white;
top: -32px;
padding: 5px;
border-radius: 2px;
}
.prog span::after{
  content: '';
  position: absolute;
  border: 8px solid;
  top: -10px;
  right: -7px;
  border-color: black transparent transparent;
}
/* end about */
/* start quote */
.quote{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/quote.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
.quote::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/70%);
  top: 0;
  left: 0;
}
.quote .container q{
  position: relative;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.7;
  color: white;
  z-index: 2;
}
.quote .container span{
  position: relative;
  display: block;
  font-size: 13px;
  color: white;
  z-index: 2;
  margin-top: 30px;
}
/* end quote */
/* start pricing */
.pricing{
  padding-top: 60px;
  padding-bottom: 60px;
}
.pricing .plans{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px  ,1fr));
  grid-gap: 30px;
  
}
.pricing .plans .plan{
  text-align: center;
}
.pricing .plans .plan .head{
  padding: 30px;
  border-bottom: 2px solid #29ccfa;
  border-top: 2px solid #29ccfa;
}
.pricing .plans .plan .head h3{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.pricing .plans .plan .head span{
  font-size: 59px;
  font-weight: 400;
}
.pricing .plans .plan .head span::before{
  content: '$';
  position: relative;
  font-size: 21px;
  font-weight: 400;
  top: -28px;
  left: -16px;
}
.pricing .plans .plan .head span::after{
  content: '/MO';
  position: relative;
  font-size: 13px;
  font-weight: 400;
  right: -10px;
}
.pricing .plans .plan .section ul{
  border-bottom: 2px solid #29ccfa;
}
.pricing .plans .plan .section ul li{
  padding: 30px;
  position: relative;
}
.pricing .plans .plan .section ul li:not(:last-child)::after{
  content: '';
  width: 140px;
  height: 1px;
  background-color: #29ccfa;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.pricing .plans .plan .btn a{
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid #29ccfa;
  margin: 30px auto;
  width: fit-content;
}
.pricing .text{
  margin: 50px auto;
  text-align: center;
}
.pricing .text p{
  padding:  30px;
}
.pricing .text a{
  display: block;
  padding: 15px 30px;
  background-color: #29ccfa;
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: fit-content;
  margin: 10px auto;
}
/* end pricing */
/* start subscribe */
.subscribe{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/70%);
  top: 0;
  left: 0;

}
.subscribe .container{
  display: grid;
  grid-template-columns: 60% 40%;
}
.subscribe .container form{
  position: relative;
  display:flex;
  max-width: 100%;
  width: 800px;
}
@media (max-width:768px) {
  .subscribe .container{
    display: flex;
    flex-direction: column;
  }
}
.subscribe .container form i{

    position: absolute;
    color: white;
    font-size: 17px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.subscribe .container form input[type="email"]{
  padding: 10px 20px 10px 30px;
  background-color: inherit;
  border-color: white;
  width: calc(95% - 130px);
  border: 1px solid white;
  border-right: none;
}
.subscribe .container form input[type="email"]:focus{
  outline: none;
  color: white;
}
.subscribe .container form input[type="button"]{
  padding: 10px;
  background-color: #19c8fa;
  color: white;
  border: 1px solid white;
  width: 130px;
  border-left: none;
}
.subscribe p{
  position: relative;
font-size: 13px;
line-height: 1.8;
font-weight: normal;
color:white;
}
/* end subscribe */
/* start contact */
.contact{
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact .container .contact-info{
  display: flex;
  justify-content: space-between;
}
@media (max-width:769px){
  .contact .container .contact-info{
  flex-direction : column;
  text-align: center;
  align-items: center;
  }
  .contact .container .contact-info .form{
    width: 100%;
  }
  
}
.contact .container .contact-info .form{
  position: relative;
  flex-basis: 70%;
}
.contact .container .contact-info .form .text{
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.contact .container .contact-info .form textarea{
  height: 200px;
}
.contact .container .contact-info .form input[type="submit"]{
  padding: 20px;  
  display: flex;
  margin-left: auto;
  background-color: #19c8fa;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}
.contact .container .contact-info .info{
  width: 25%;
}
.contact .container .contact-info .info span{
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  color:#a8a8a8;
}
.contact .container .contact-info .info h4{
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: normal;
}
.contact .container .contact-info .info h4:nth-of-type(2){
  margin-top: 80px;
}
@media (max-width:769px){
  .contact .container .contact-info .info{
    width: 100%;
  }
  .contact .container .contact-info .info span{
    width: 100%;
  }

}
/* end contact */
/* start footer */
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.footer::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/70%);
}
.footer .container{
  position: relative;
  text-align: center;
  color: white;
}
.footer .container .logo{
  margin-bottom: 20px;
  margin-top: 60px;
}
.footer .container .logo img{
  width: 90px;
}
.footer .container p:not(.copyright){
  padding: 15px 20px;
  width: fit-content;
  border-bottom: 2px solid white;
  margin: 10px auto;
}
.footer .container .social-icons i{
  padding: 10px;
  font-size: 13px;
}
.footer .container .social-icons i:hover{
  transform: scale(1.3);
}
.footer .container .copyright{
  margin-top: 60px;
}
.footer .container .copyright span{
  color: #19c8fa;
}
/* end footer */
